<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5305191417-ifr4134s9ta40gc1ucheh2t704u1ko1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5305191417-ifr4134s9ta40gc1ucheh2t704u1ko1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCkLj3byzhojYGvXqV_DeyAnzj_OHKXD0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>5305191417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinhomorales.todofirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-46087</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-46087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5305191417:ios:b93a23ae7d7b6c14f64b28</string>
</dict>
</plist>